/* Style sheet for Rock Paper Scissors project */

/*Design information
  Colors inspired by Nordtheme.io
    font color - #2e3440
    button color - #2e3440
    button hover - #eceff4
    button active border - blue

*/

.body {
  color: #2e3440;
  font-family: Arial, Helvetica, sans-serif;
}

.announce{
  margin-top: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container--replay {
  display: flex;
  justify-content: center;
  align-items: center  
}

.btn {
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border-style: solid;
  border-color: black;
  border-radius: 3px;
  background-color: #d8dee9;
  color: #2e3440;
  font-size: 16px;
}

button:active {
  border-style: solid;
  border-color: blue;
  border-width: 1px;
}

button:hover {
  background-color: #eceff4;
}

.underline {
  text-decoration: underline;
}

.replay {
  display: none;
}

.replay--active {
  display: block;
}